<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="get" action="/chats/new">
        <button class="new-chat-btn">New Chat</button>
    </form>
    <br>
    <h1>Welcome to Chatter</h1>
    <p class="subtitle">This is a simple chat application.</p>
    <% for(chat of chats) { %>
    <div class="chat">
        <p> From: <%= chat.from %></p>
        <p> To: <%= chat.to %></p>
        <div class="msg">
            <p> Message: <%= chat.msg%></p>


        </div>
        <p><%= chat.created_at.toString().split(" ")[4]%></p><br>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>

    </div>
<% } %>

    
</body>
</html>

